body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-left: .1%;
    margin-right: .1%;
    margin-top: .1%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* center the elements horizontally */
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex: 1;
  }
  
  .footer {
    background-color: #333;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 0;
  }
  
  .footer h4 {
    display: inline-block;
    margin-right: 10px;
  }
  
  .empty-space {
    height: 200px;
  }
  
  .empty-space-About {
    height: 490px;
  }
  
  /*width 768px && <*/
  @media screen and (min-width: 768px) {
    header {
      padding: 20px;
    }
  
    nav li {
      margin-right: 20px;
    }
  
    main {
      padding: 40px;
    }
  
    .empty-space {
      height: 400px;
    }
  
    .empty-space-About {
      height: 800px;
    }
  }
  
  /*width 1200px && <*/
  @media screen and (min-width: 1200px) {
    nav li {
      margin-right: 30px;
    }
  
    main {
      padding: 60px;
    }
  
    .empty-space {
      height: 600px;
    }
  
    .empty-space-About {
      height: 1000px;
    }
  }
  
  /* post image */
  .post-image {
    max-width: 100%;
    max-height: 300px; /* Adjust this value according to the desired cell phone size box height */
    object-fit: contain;
  }
  